body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

#container {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: rgb(230, 230, 230);
    position: relative;
    padding: 0;
    margin: 0;
}

#floor {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(80, 80, 80);
    padding: 0;
    margin: 0;
}

#score {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    top: 0;
    right: 0;
    width: 100px;
    height: 40px;
    background-color: rgb(230, 230, 230);
    border-bottom-left-radius: 5px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(80, 80, 80);
    border-left: 2px solid rgb(80, 80, 80);
    padding-left: 5px;
}

#score p {
    font-size: 14px;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

#player {
    position: absolute;
    left: 50px;
    top: 70px;
    /*
    width: 50px;
    height: 50px;
    background-color: rgb(120, 120, 120);
    border-radius: 50%;
    */
}

.obstacle {
    height: 100px;
    width: 50px;
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: black;
}

#character {
    width: 50px;
    height: 50px;
}