body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: "Pixelify Sans", sans-serif;
    user-select: none;
}

#container {
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: rgb(230, 230, 230);
    position: relative;
    padding: 0;
    margin: 0;
}

#floor {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(80, 80, 80);
    padding: 0;
    margin: 0;
}

#score {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: rgb(230, 230, 230);
    border-bottom-left-radius: 5px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(80, 80, 80);
    border-left: 2px solid rgb(80, 80, 80);
    display: flex;
    min-width: 120px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(80, 80, 80);

}

#text {
    display: inline-block;
    height: 25px;
    width: 50%;
}

#number {
    display: inline-block;
    width: 50%;
    height: 25px;
    text-align: center;
}

#knowledge {
    position: absolute;
    right: 0;
    top: 40px;
    min-width: 240px;
    height: 50px;
    background-color: bisque;
}


#character {
    position: absolute;
    left: 50px;
    bottom: 70px;
    /*
    width: 50px;
    height: 50px;
    background-color: rgb(120, 120, 120);
    border-radius: 50%;
    */
}

.obstacle {
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: black;
}

#character {
    width: 50px;
    height: 50px;
}

#tab {
    position: absolute;
    top: 40%;
    left: 35%;
    min-width: 30%;
    min-height: 20%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: rgb(80, 80, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(230, 230, 230);
    cursor: default;
}